@inject ILayoutService LayoutService
@{

    List<BasketVM> basketVMs = await LayoutService.GetBasket();
    List<WishlistVM> wishlistVMs = await LayoutService.GetWish();
    IEnumerable<Category> categories = await LayoutService.GetCategories();
    IDictionary<string, string> settings = await LayoutService.GetSettings();

    HeaderVM headerVM = new HeaderVM
            {
                WishlistVMs = wishlistVMs,
                Settings = settings,
                Categories = categories,
                BasketVMs = basketVMs

            };
}
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from demo.hasthemes.com/pustok-preview/pustok/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Mar 2021 10:43:15 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pustok - Book Store HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/plugins.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/image/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="site-wrapper" id="top">
        <div class="site-header header-2 mb--20 d-none d-lg-block">
            <div class="header-middle pt--10 pb--10">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <a href="~/assets/index.html" class="site-brand">
                                <img src="~/assets/image/@(headerVM.Settings.FirstOrDefault(s=>s.Key == "site-brand").Value)" alt="">
                            </a>
                        </div>
                        <div class="col-lg-5">
                            <div class="header-search-block">
                                <input id="prsearch" type="text" placeholder="Search entire store here">
                                <button>Search</button>
                            </div>
                            <div class="prdsearch position-absolute" style="z-index:3; background:#fff;">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="main-navigation flex-lg-right">
                                <div class="cart-widget">
                                    <div class="login-block">

                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                                        {
                                            <a asp-controller="account" asp-action="Profile" class="font-weight-bold">Profile</a> <br>
                                            <span>or</span>

                                            <a asp-controller="account" asp-action="logout">Logout</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="account" asp-action="login" class="font-weight-bold">Login</a> <br>
                                            <span>or</span>

                                            <a asp-controller="account" asp-action="register">Register</a>
                                        }
                                    </div>
                                    @*Cart Part Start*@
                                    <div class="header-cart">
                                        @await Html.PartialAsync("_BasketCartPartial",headerVM.BasketVMs)
                                    </div>
                                    <div class="header-wish">
                                        @await Html.PartialAsync("_WishCartPartial")
                                    </div>
                                    <div class="header-compare">
                                        @await Html.PartialAsync("_CompareCartPartial")
                                    </div>
                                    <div class="header p-3">
                                        <a asp-controller="wishlist" asp-action="index"><i class="fa-solid fa-heart" style="font-size:30px;color: #62ab00;"></i></a>
                                    </div>
                                    @*Cart Part End*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom bg-primary">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <nav class="category-nav white-nav  ">
                                <div>
                                    <a href="#" class="category-trigger">
                                        <i class="fa fa-bars"></i>Browse
                                        categories
                                    </a>
                                    <ul class="category-menu">
                                        @foreach (Category category in headerVM.Categories)
                                        {
                                            <li class="cat-item @(category.Children.Count()>0 && category.Children != null ? "has-children" : "")">
                                                <a href="#">@category.Name</a>
                                                @if (category.Children.Count() > 0 && category.Children != null)
                                                {
                                                    <ul class="sub-menu">
                                                        @foreach (Category child in category.Children)
                                                        {
                                                            <li><a href="#">@child.Name</a></li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-lg-3">
                            <div class="header-phone color-white">
                                <div class="icon">
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                                <div class="text">
                                    <p>Free Support 24/7</p>
                                    <p class="font-weight-bold number">@(headerVM.Settings.FirstOrDefault(s => s.Key == "number").Value)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="main-navigation flex-lg-right">
                                <ul class="main-menu menu-right main-menu--white li-last-0">
                                    <li class="menu-item has-children">
                                        <a asp-controller="home" asp-action="index">Home </a>

                                    </li>
                                    <!-- Shop -->
                                    <li class="menu-item has-children mega-menu">
                                        <a asp-controller="product" asp-action="shop">shop </a>

                                    </li>
                                    <!-- Pages -->
                                    <li class="menu-item has-children">
                                        <a asp-controller="compare" asp-action="index">Compare </a>

                                    </li>
                                    <!-- Blog -->
                                    <li class="menu-item has-children mega-menu">
                                        <a asp-controller="blog" asp-action="index">Blog </a>

                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="contact" asp-action="index">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-mobile-menu">
            <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
                <div class="container">
                    <div class="row align-items-sm-end align-items-center">
                        <div class="col-md-4 col-7">
                            <a href="~/assets/index.html" class="site-brand">
                                <img src="~/assets/image/logo.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-5 order-3 order-md-2">
                            <nav class="category-nav   ">
                                <div>
                                    <a href="~/assets/javascript:void(0)" class="category-trigger">
                                        <i class="fa fa-bars"></i>Browse
                                        categories
                                    </a>
                                    <ul class="category-menu">
                                        <li class="cat-item has-children">
                                            <a href="~/assets/#">Arts & Photography</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/#">Bags & Cases</a></li>
                                                <li><a href="~/assets/#">Binoculars & Scopes</a></li>
                                                <li><a href="~/assets/#">Digital Cameras</a></li>
                                                <li><a href="~/assets/#">Film Photography</a></li>
                                                <li><a href="~/assets/#">Lighting & Studio</a></li>
                                            </ul>
                                        </li>
                                        <li class="cat-item has-children mega-menu">
                                            <a href="~/assets/#">Biographies</a>
                                            <ul class="sub-menu">
                                                <li class="single-block">
                                                    <h3 class="title">WHEEL SIMULATORS</h3>
                                                    <ul>
                                                        <li><a href="~/assets/#">Bags & Cases</a></li>
                                                        <li><a href="~/assets/#">Binoculars & Scopes</a></li>
                                                        <li><a href="~/assets/#">Digital Cameras</a></li>
                                                        <li><a href="~/assets/#">Film Photography</a></li>
                                                        <li><a href="~/assets/#">Lighting & Studio</a></li>
                                                    </ul>
                                                </li>
                                                <li class="single-block">
                                                    <h3 class="title">WHEEL SIMULATORS</h3>
                                                    <ul>
                                                        <li><a href="~/assets/#">Bags & Cases</a></li>
                                                        <li><a href="~/assets/#">Binoculars & Scopes</a></li>
                                                        <li><a href="~/assets/#">Digital Cameras</a></li>
                                                        <li><a href="~/assets/#">Film Photography</a></li>
                                                        <li><a href="~/assets/#">Lighting & Studio</a></li>
                                                    </ul>
                                                </li>
                                                <li class="single-block">
                                                    <h3 class="title">WHEEL SIMULATORS</h3>
                                                    <ul>
                                                        <li><a href="~/assets/#">Bags & Cases</a></li>
                                                        <li><a href="~/assets/#">Binoculars & Scopes</a></li>
                                                        <li><a href="~/assets/#">Digital Cameras</a></li>
                                                        <li><a href="~/assets/#">Film Photography</a></li>
                                                        <li><a href="~/assets/#">Lighting & Studio</a></li>
                                                    </ul>
                                                </li>
                                                <li class="single-block">
                                                    <h3 class="title">WHEEL SIMULATORS</h3>
                                                    <ul>
                                                        <li><a href="~/assets/#">Bags & Cases</a></li>
                                                        <li><a href="~/assets/#">Binoculars & Scopes</a></li>
                                                        <li><a href="~/assets/#">Digital Cameras</a></li>
                                                        <li><a href="~/assets/#">Film Photography</a></li>
                                                        <li><a href="~/assets/#">Lighting & Studio</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="cat-item has-children">
                                            <a href="~/assets/#">Business & Money</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/#">Brake Tools</a></li>
                                                <li><a href="~/assets/#">Driveshafts</a></li>
                                                <li><a href="~/assets/#">Emergency Brake</a></li>
                                                <li><a href="~/assets/#">Spools</a></li>
                                            </ul>
                                        </li>
                                        <li class="cat-item has-children">
                                            <a href="~/assets/#">Calendars</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/#">Brake Tools</a></li>
                                                <li><a href="~/assets/#">Driveshafts</a></li>
                                                <li><a href="~/assets/#">Emergency Brake</a></li>
                                                <li><a href="~/assets/#">Spools</a></li>
                                            </ul>
                                        </li>
                                        <li class="cat-item has-children">
                                            <a href="~/assets/#">Children's Books</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/#">Brake Tools</a></li>
                                                <li><a href="~/assets/#">Driveshafts</a></li>
                                                <li><a href="~/assets/#">Emergency Brake</a></li>
                                                <li><a href="~/assets/#">Spools</a></li>
                                            </ul>
                                        </li>
                                        <li class="cat-item has-children">
                                            <a href="~/assets/#">Comics</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/#">Brake Tools</a></li>
                                                <li><a href="~/assets/#">Driveshafts</a></li>
                                                <li><a href="~/assets/#">Emergency Brake</a></li>
                                                <li><a href="~/assets/#">Spools</a></li>
                                            </ul>
                                        </li>
                                        <li class="cat-item"><a href="~/assets/#">Perfomance Filters</a></li>
                                        <li class="cat-item has-children">
                                            <a href="~/assets/#">Cookbooks</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/#">Brake Tools</a></li>
                                                <li><a href="~/assets/#">Driveshafts</a></li>
                                                <li><a href="~/assets/#">Emergency Brake</a></li>
                                                <li><a href="~/assets/#">Spools</a></li>
                                            </ul>
                                        </li>
                                        <li class="cat-item "><a href="~/assets/#">Accessories</a></li>
                                        <li class="cat-item "><a href="~/assets/#">Education</a></li>
                                        <li class="cat-item hidden-menu-item"><a href="~/assets/#">Indoor Living</a></li>
                                        <li class="cat-item">
                                            <a href="~/assets/#" class="js-expand-hidden-menu">
                                                More
                                                Categories
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-3 col-5  order-md-3 text-right">
                            <div class="mobile-header-btns header-top-widget">
                                <ul class="header-links">
                                    <li class="sin-link">
                                        <a href="~/assets/cart.html" class="cart-link link-icon"><i class="ion-bag"></i></a>
                                    </li>
                                    <li class="sin-link">
                                        <a href="~/assets/javascript:" class="link-icon hamburgur-icon off-canvas-btn">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--Off Canvas Navigation Start-->
            <aside class="off-canvas-wrapper">
                <div class="btn-close-off-canvas">
                    <i class="ion-android-close"></i>
                </div>
                <div class="off-canvas-inner">
                    <!-- search box start -->
                    <div class="search-box offcanvas">
                        <form>
                            <input type="text" placeholder="Search Here">
                            <button class="search-btn"><i class="ion-ios-search-strong"></i></button>
                        </form>
                    </div>
                    <!-- search box end -->
                    <!-- mobile menu start -->
                    <div class="mobile-navigation">
                        <!-- mobile menu navigation start -->
                        <nav class="off-canvas-nav">
                            <ul class="mobile-menu main-mobile-menu">
                                <li class="menu-item-has-children">
                                    <a href="~/assets/#">Home</a>
                                    <ul class="sub-menu">
                                        <li> <a href="~/assets/index.html">Home One</a></li>
                                        <li> <a href="~/assets/index-2.html">Home Two</a></li>
                                        <li> <a href="~/assets/index-3.html">Home Three</a></li>
                                        <li> <a href="~/assets/index-4.html">Home Four</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="~/assets/#">Blog</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="~/assets/#">Blog Grid</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/blog.html">Full Widh (Default)</a></li>
                                                <li><a href="~/assets/blog-left-sidebar.html">left Sidebar</a></li>
                                                <li><a href="~/assets/blog-right-sidebar.html">Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="~/assets/#">Blog List</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/blog-list.html">Full Widh (Default)</a></li>
                                                <li><a href="~/assets/blog-list-left-sidebar.html">left Sidebar</a></li>
                                                <li><a href="~/assets/blog-list-right-sidebar.html">Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="~/assets/#">Blog Details</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/blog-details.html">Image Format (Default)</a></li>
                                                <li><a href="~/assets/blog-details-gallery.html">Gallery Format</a></li>
                                                <li><a href="~/assets/blog-details-audio.html">Audio Format</a></li>
                                                <li><a href="~/assets/blog-details-video.html">Video Format</a></li>
                                                <li><a href="~/assets/blog-details-left-sidebar.html">left Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="~/assets/#">Shop</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="~/assets/#">Shop Grid</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/shop-grid.html">Fullwidth</a></li>
                                                <li><a href="~/assets/shop-grid-left-sidebar.html">left Sidebar</a></li>
                                                <li><a href="~/assets/shop-grid-right-sidebar.html">Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="~/assets/#">Shop List</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/shop-list.html">Fullwidth</a></li>
                                                <li><a href="~/assets/shop-list-left-sidebar.html">left Sidebar</a></li>
                                                <li><a href="~/assets/shop-list-right-sidebar.html">Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="~/assets/#">Product Details 1</a>
                                            <ul class="sub-menu">
                                                <li><a href="~/assets/product-details.html">Product Details Page</a></li>
                                                <li>
                                                    <a href="~/assets/product-details-affiliate.html">
                                                        Product Details
                                                        Affiliate
                                                    </a>
                                                </li>
                                                <li><a href="~/assets/product-details-group.html">Product Details Group</a></li>
                                                <li>
                                                    <a href="~/assets/product-details-variable.html">
                                                        Product Details
                                                        Variables
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="~/assets/#">Product Details 2</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="~/assets/product-details-left-thumbnail.html">left Thumbnail</a>
                                                </li>
                                                <li>
                                                    <a href="~/assets/product-details-right-thumbnail.html">Right Thumbnail</a>
                                                </li>
                                                <li><a href="~/assets/product-details-left-gallery.html">Left Gallery</a></li>
                                                <li><a href="~/assets/product-details-right-gallery.html">Right Gallery</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="~/assets/#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="~/assets/cart.html">Cart</a></li>
                                        <li><a href="~/assets/checkout.html">Checkout</a></li>
                                        <li><a href="~/assets/compare.html">Compare</a></li>
                                        <li><a href="~/assets/wishlist.html">Wishlist</a></li>
                                        <li><a href="~/assets/login-register.html">Login Register</a></li>
                                        <li><a href="~/assets/my-account.html">My Account</a></li>
                                        <li><a href="~/assets/order-complete.html">Order Complete</a></li>
                                        <li><a href="~/assets/faq.html">Faq</a></li>
                                        <li><a href="~/assets/contact-2.html">contact 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/assets/contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- mobile menu navigation end -->
                    </div>
                    <!-- mobile menu end -->
                    <nav class="off-canvas-nav">
                        <ul class="mobile-menu menu-block-2">
                            <li class="menu-item-has-children">
                                <a href="~/assets/#">Currency - USD $ <i class="fas fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li> <a href="~/assets/cart.html">USD $</a></li>
                                    <li> <a href="~/assets/checkout.html">EUR €</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/assets/#">Lang - Eng<i class="fas fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li>Eng</li>
                                    <li>Ban</li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="~/assets/#">My Account <i class="fas fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="~/assets/#">My Account</a></li>
                                    <li><a href="~/assets/#">Order History</a></li>
                                    <li><a href="~/assets/#">Transactions</a></li>
                                    <li><a href="~/assets/#">Downloads</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="off-canvas-bottom">
                        <div class="contact-list mb--10">
                            <a href="~/assets/#" class="sin-contact"><i class="fas fa-mobile-alt"></i>(12345) 78790220</a>
                            <a href="~/assets/#" class="sin-contact"><i class="fas fa-envelope"></i>examle@handart.com</a>
                        </div>
                        <div class="off-canvas-social">
                            <a href="~/assets/#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
                            <a href="~/assets/#" class="single-icon"><i class="fab fa-twitter"></i></a>
                            <a href="~/assets/#" class="single-icon"><i class="fas fa-rss"></i></a>
                            <a href="~/assets/#" class="single-icon"><i class="fab fa-youtube"></i></a>
                            <a href="~/assets/#" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
                            <a href="~/assets/#" class="single-icon"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </aside>
            <!--Off Canvas Navigation End-->
        </div>
        <div class="sticky-init fixed-header common-sticky">
            <div class="container d-none d-lg-block">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <a href="~/assets/index.html" class="site-brand">
                            <img src="~/assets/image/logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="main-navigation flex-lg-right">
                            <ul class="main-menu menu-right ">
                                <li class="menu-item has-children">
                                    <a asp-controller="home" asp-action="index">Home </a>

                                </li>
                                <!-- Shop -->
                                <li class="menu-item has-children mega-menu">
                                    <a asp-controller="product" asp-action="shop">shop </a>

                                </li>
                                <!-- Pages -->
                                <li class="menu-item has-children">
                                    <a asp-controller="compare" asp-action="index">Compare </a>

                                </li>
                                <!-- Blog -->
                                <li class="menu-item has-children mega-menu">
                                    <a asp-controller="blog" asp-action="index">Blog </a>

                                </li>
                                <li class="menu-item">
                                    <a asp-controller="contact" asp-action="index">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/assets/index.html">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- Cart Page Start -->
        <main class="contact_area inner-page-sec-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="google-map">
                            @(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "map").Value))

                        </div>
                    </div>
                </div>
                <div class="row mt--60 ">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="contact_adress">
                            <div class="ct_address">
                                <h3 class="ct_title">Location & Details</h3>
                                @(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "locationdesc").Value))
                            </div>
                            <div class="address_wrapper">
                                <div class="address">
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="contact-info-text">
                                        @(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "contact-address").Value))
                                    </div>
                                </div>
                                <div class="address">
                                    <div class="icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="contact-info-text">
                                        @(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "contact-email").Value))
                                    </div>
                                </div>
                                <div class="address">
                                    <div class="icon">
                                        <i class="fas fa-mobile-alt"></i>
                                    </div>
                                    <div class="contact-info-text">
                                        @(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "contact-phone").Value))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-12 mt--30 mt-md--0">
                        <div class="contact_form">
                            <h3 class="ct_title">Send Us a Message</h3>
                            <form id="contact-form" action="https://demo.hasthemes.com/pustok-preview/pustok/php/mail.php" method="post" class="contact-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Name <span class="required">*</span></label>
                                            <input type="text" id="con_name" name="con_name" class="form-control"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Email <span class="required">*</span></label>
                                            <input type="email" id="con_email" name="con_email" class="form-control"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Phone*</label>
                                            <input type="text" id="con_phone" name="con_phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Message</label>
                                            <textarea id="con_message" name="con_message"
                                                      class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-btn">
                                            <button type="submit" value="submit" id="submit" class="btn btn-black"
                                                    name="submit">
                                                send
                                            </button>
                                        </div>
                                        <div class="form__output"></div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-output">
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Cart Page End -->
    </div>
    <!--=================================
      Brands Slider
    ===================================== -->
    <section class="section-margin">
        <h2 class="sr-only">Brand Slider</h2>
        <div class="container">
            <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
                <div class="single-slide">
                    <img src="~/assets/image/others/brand-1.jpg" alt="">
                </div>
                <div class="single-slide">
                    <img src="~/assets/image/others/brand-2.jpg" alt="">
                </div>
                <div class="single-slide">
                    <img src="~/assets/image/others/brand-3.jpg" alt="">
                </div>
                <div class="single-slide">
                    <img src="~/assets/image/others/brand-4.jpg" alt="">
                </div>
                <div class="single-slide">
                    <img src="~/assets/image/others/brand-5.jpg" alt="">
                </div>
                <div class="single-slide">
                    <img src="~/assets/image/others/brand-6.jpg" alt="">
                </div>
                <div class="single-slide">
                    <img src="~/assets/image/others/brand-1.jpg" alt="">
                </div>
                <div class="single-slide">
                    <img src="~/assets/image/others/brand-2.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--=================================
        Footer Area
    ===================================== -->
    <footer class="site-footer">
        <div class="container">
            <div class="row justify-content-between  section-padding">
                <div class=" col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-footer pb--50">
                        <div class="brand-footer footer-title">
                            <img src="~/assets/image/@(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "site-brand").Value))" alt="">
                        </div>
                        <div class="footer-contact">
                            <p><span class="label">Address:</span>@(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "address").Value))</p>
                            <p><span class="label">Phone:</span><span class="text">@(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "phone").Value))</span></p>
                            <p><span class="label">Email:</span><span class="text">@(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "email").Value))</span></p>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-2 col-sm-6">
                    <div class="single-footer pb--50">
                        <div class="footer-title">
                            <h3>Information</h3>
                        </div>
                        <ul class="footer-list normal-list">
                            <li><a href="~/assets/#">Prices drop</a></li>
                            <li><a href="~/assets/#">New products</a></li>
                            <li><a href="~/assets/#">Best sales</a></li>
                            <li><a href="~/assets/#">Contact us</a></li>
                            <li><a href="~/assets/#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-2 col-sm-6">
                    <div class="single-footer pb--50">
                        <div class="footer-title">
                            <h3>Extras</h3>
                        </div>
                        <ul class="footer-list normal-list">
                            <li><a href="~/assets/#">Delivery</a></li>
                            <li><a href="~/assets/#">About Us</a></li>
                            <li><a href="~/assets/#">Stores</a></li>
                            <li><a href="~/assets/#">Contact us</a></li>
                            <li><a href="~/assets/#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-title">
                        <h3>Newsletter Subscribe</h3>
                    </div>
                    <div class="newsletter-form mb--30">
                        <form action="https://demo.hasthemes.com/pustok-preview/pustok/php/mail.php">
                            <input type="email" class="form-control" placeholder="Enter Your Email Address Here...">
                            <button class="btn btn--primary w-100">Subscribe</button>
                        </form>
                    </div>
                    <div class="social-block">
                        <h3 class="title">STAY CONNECTED</h3>
                        <ul class="social-list list-inline">
                            <li class="single-social facebook">
                                <a href="~/assets/#"><i class="ion ion-social-facebook"></i></a>
                            </li>
                            <li class="single-social twitter"><a href="~/assets/#"><i class="ion ion-social-twitter"></i></a></li>
                            <li class="single-social google">
                                <a href="~/assets/#">
                                    <i class="ion ion-social-googleplus-outline"></i>
                                </a>
                            </li>
                            <li class="single-social youtube"><a href="~/assets/#"><i class="ion ion-social-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                @(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "copyright-heading").Value))
                <a href="~/assets/#" class="payment-block">
                    <img src="~/assets/image/icon/payment.png" alt="">
                </a>
                @(Html.Raw(headerVM.Settings.FirstOrDefault(s => s.Key == "copyright-text").Value))
            </div>
        </div>
    </footer>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/ajax-mail.js"></script>
    <script src="~/assets/https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/custom2.js"></script>

</body>


<!-- Mirrored from demo.hasthemes.com/pustok-preview/pustok/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Mar 2021 10:43:15 GMT -->
</html>
