@model IEnumerable<Author>
@{
    int count = 0;
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Created By</th>
            <th>Product Count</th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Author author in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@author.Name @author.Surname</td>
                <td>@author.CreatedAt.ToString("dd-MMM-yyyy").ToUpper()</td>
                <td>@author.CreatedBy</td>
                <td>@author.Products?.Count()</td>
                <td>
                    <a asp-area="manage" asp-controller="author" asp-action="Detail" asp-route-id="@author.Id" class="btn btn-primary">Detail</a>
                    <a asp-area="manage" asp-controller="author" asp-action="Update" asp-route-id="@author.Id" class="btn btn-warning">Update</a>
                    <a asp-area="manage" asp-controller="author" asp-action="Delete" asp-route-id="@author.Id" class="btn btn-danger deleteBtn">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

